:host {
    display: flex;
    justify-content: center;
}

pre {
    margin: 0;
}

table {
    border-collapse: 0;
    border-spacing: 0;
}

tr {
    td {
        border-bottom: 1px solid black;
    }

    &:last-of-type {
        td {
            border-bottom: none;
        }
    }

    &.empty {
        height: 1rem;
    }

    &:has(+ tr.empty) {
        td {
            border-bottom: none;
        }
    }
}

td {
    &:first-of-type {
        padding-right: 1rem;
    }

    &:nth-of-type(n+2) {
        text-align: center;
    }

    &.lan {
        background-color: rgba(0, 255, 0, 0.5);
    }

    &.host {
        background-color: rgba(255, 255, 0, 0.5);
    }
}