<nav class="menu">
    <a routerLink="/dec-hex-bin-table" routerLinkActive="active">Dec Hex Bin Table</a>
    <a routerLink="/dec-hex-bin-exercise" routerLinkActive="active">Dec Hex Bin Exercise</a>
    <a routerLink="/ipv4-overview" routerLinkActive="active">ipv4 overview</a>
    <a routerLink="/ipv4-exercise" routerLinkActive="active">ipv4 exercise</a>
    <a routerLink="/subnetting-overview" routerLinkActive="active">subnetting overview</a>
    <a routerLink="/subnetting-exercise" routerLinkActive="active">subnetting exercise</a>
</nav>